.tutorEditProfile-btn
{

width: 200px;
height: 45px;
margin-bottom: 30px;
margin-left: 28%;
background-color: #2fda93;
color: white;
font-size: 23px;
}
.tutorEditProfileInp
{
    width: 80%;
    margin: auto;
}
.tuorEditProfilModal
{
    margin: auto;
   
}
.tutorEditProfile-label
{
    margin-left:10%;
}
.tutorEditProfile-photo
{
margin: auto;
}