.admin-sidebar
{
    height: 93vh;
    background-color:#2fea9c;
    width: 278px;
}
.admin-sidebar ul
{
    list-style: none;
}
.admin-sidebar li
{
    font-size: 21px;
    font-weight: 700;
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    cursor: pointer;
    margin-top: 7%;
}
.admin-sidebar li:hover
{
    color: black;
}

.openlibrary-heading
{
    font-size: 27px;
    font-weight: 700;
    font-family: noto sans;
    padding-left: 15%;
    padding-top: 8%;
    padding-bottom: 10%;
}
