.tutorChatBox-btn {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-image: url(../../../Assests/chat.png);
  background-size: 45px;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  right: 15px;
  bottom: 20px;
  background-color: white;
  border: none;

  animation: messageBox 1s ease-in-out 0.09s infinite;
}

.tutorChatBox-btn ::hover {
  background-color: white;
}
@keyframes messageBox {
  from {
    transform: translatey(10px);
  }
  to {
    text-replace: translatey(0px);
  }
}
.tutor-chat-body {
  height: 50vh;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}
.dispaly-tutor-msg {
  height: 50vh;
  position: relative;
  overflow-y: scroll;
}
.tutorChatBox-send-btn {
  height: 40px;
}
.tutorChatBox-chat1 {
  width: fit-content;
  max-width: 90%;
  min-height: 47px;
  border-radius: 9px;
  text-align: left;
  color: black;
  background-color: #d8c1eb;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 8px 0px 8px;
  position: relative;
  left: 20px;
  display: block;
  clear: both;
  word-wrap: break-word;
  align-self: flex-end;
}
.tutorChatBox-chat2 {
  max-width: 90%;
  min-height: 47px;
  border-radius: 9px;
  text-align: right;
  color: black;
  background-color: #d8c1eb;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 8px 0px 8px;
  position: relative;
  left: -25px;
  display: block;
  float: right;
  clear: both;
  word-wrap: break-word;
  align-self: flex-start;
}
