.adminchatSideBar{
    height:81.5vh;
    width:100%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.adminSideBar-profile-box
{
    height:10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active-tutor{
    height:10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, 0.471);
}
.adminSideBar-profile-box img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
    
}