.student-sidebar {
  height: 100vh;
  background-color: #2fea9c;
  width: 278px;
}
.student-sidebar ul {
  list-style: none;
}
.student-sidebar li {
  font-size: 21px;
  font-weight: 700;
  display: block;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 5%;
  cursor: pointer;
  margin-top: 7%;
}
.student-sidebar li:hover {
  color: black;
}

.openlibrary-heading {
  font-size: 27px;
  width: 250px;
  height: 50px;
  text-decoration: underline;
  margin-top: 5%;
  font-family: poppins;
}
.openlibrary-heading h3 {
  font-size: 28px;
  font-weight: bolder;
}
.wishlist_icon {
  font-size: 25px;
  margin-right: 2px;
}
.studentSidebar_logout {
  color: red;
}
